Repository CNES/demcompare: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, pylint, doc-build

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:

  - id: isort
    name: Isort
    stages: [commit]
    language: system
    entry: isort
    types: [python]

  - id: black
    name: Black
    stages: [commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: Flake8
    stages: [commit]
    language: system
    entry: flake8
    types: [python]

  - id: pylint
    name: PyLint
    stages: [commit]
    language: system
    entry: pylint --rcfile=.pylintrc
    files: \.py$

  - id: doc-build
    name: Build Documentation
    stages: [push]
    entry: make docs
    language: system
    files: ^(docs/.*|cars-mesh/.*)$
    pass_filenames: False

fix: add commented code in stats_processing for standalone dir creation, fix sonarqube, fix os.makedirs left
  demcompare/sphinx_project_generator.py
  demcompare/stats_processing.py
  docs/source/userguide/command_line_execution.rst
Due: isort, black, flake8, pylint, doc-build

feat: add srtm notebook scenario to show new metrics
  Makefile
  notebooks/data/srtm/srtm_blurred_and_shifted_res.tif
  notebooks/data/srtm/srtm_ref.tif
  notebooks/scenario_srtm.ipynb
  notebooks/snippets/utils_notebook.py
Due: isort, black, flake8, pylint

feat: release 0.6.0, changelog update
  CHANGELOG.md
Due: none

fix: handle bug make test pyarrow pandas dependencies
  setup.cfg
Due: none

fix: black upgrade
  tests/test_notebooks.py
Due: isort, black, flake8, pylint

fix: typos in makefile and setup.cfg
  Makefile
  setup.cfg
Due: none

docs: fix wrong true in doc config and coregistration nuth_kaab method in doc
  docs/source/userguide/coregistration.rst
  docs/source/userguide/statistics/classification_layers.rst
  docs/source/userguide/statistics/dem_processing.rst
  docs/source/userguide/statistics/metrics.rst
Due: doc-build

fix: remove Dockerfile not useful, pip install enough
  Dockerfile
  Makefile
Due: none

fix: change loglevel for latexpdf report not present
  demcompare/report.py
Due: isort, black, flake8, pylint

feat: first tiling of demcompare
  data_samples/sample_config_tiles.json
  demcompare/demcompare_tiles.py
  setup.cfg
Due: isort, black, flake8, pylint

feat: size tiles in row and col
  data_samples/sample_config_tiles.json
  demcompare/demcompare_tiles.py
Due: isort, black, flake8, pylint

feat: add demcompare github workflow for pypi push
  .github/workflows/demcompare_ci.yml
Due: none

doc: coreg_SEC.tif is optional
  docs/source/userguide/coregistration.rst
Due: doc-build

feat: moove coreg_sec saving
  demcompare/__init__.py
  demcompare/coregistration/coregistration_template.py
Due: isort, black, flake8, pylint

test: adapt test
  tests/coregistration/test_coregistration_errors.py
  tests/coregistration/test_coregistration_outputs.py
Due: isort, black, flake8, pylint

doc: explain interval slope range
  docs/source/userguide/statistics/classification_layers.rst
  docs/source/userguide/statistics/dem_processing.rst
Due: doc-build

test: add range slope tests
  tests/stats_processing/test_stats_processing_slope.py
Due: isort, black, flake8, pylint

feat: on size range slope
  demcompare/classification_layer/slope_classification.py
Due: isort, black, flake8, pylint

doc: intersection explanation
  docs/source/faq.rst
  docs/source/images/dem_intersection.png
Due: doc-build

refacto: adapt tests tolerance
  tests/classification_layer/test_classification_layer.py
  tests/classification_layer/test_fusion_classification.py
  tests/classification_layer/test_segmentation_classification.py
  tests/classification_layer/test_slope_classification.py
  tests/coregistration/test_coregister_dems.py
  tests/coregistration/test_coregistration_cropped_dem.py
  tests/coregistration/test_coregistration_gironde.py
  tests/coregistration/test_coregistration_nuth_kaab.py
  tests/coregistration/test_coregistration_srtm.py
  tests/dem_tools/test_create_dem.py
  tests/dem_tools/test_dataset_tools.py
  tests/dem_tools/test_dem_tools.py
  tests/dem_tools/test_load_dem_function.py
  tests/dem_tools/test_reproject_dem.py
  tests/dem_tools/test_translate_dem.py
  tests/helpers.py
  tests/metric/test_matrix_2d_metric.py
  tests/metric/test_scalar_metric.py
  tests/metric/test_vector_metric.py
  tests/stats_processing/test_stats_processing.py
  tests/stats_processing/test_stats_processing_global.py
  tests/stats_processing/test_stats_processing_segmentaion.py
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_demcompare_srtm_data.py
  tests/test_demcompare_steps.py
  tests/test_img_tools.py
  tests/test_stats_dataset.py
  tests/test_transformation.py
Due: isort, black, flake8, pylint

fix: read from bottom left and not up left
  demcompare/demcompare_tiles.py
Due: isort, black, flake8, pylint

fix: add np.ascontiguousarray to avoid open3d seg fault in c parts
  cars_mesh/core/mesh.py
  cars_mesh/reconstruct_pipeline.py
  cars_mesh/tools/handlers.py
Due: isort, black, flake8, pylint

docs: change readthedocs configuration
  .readthedocs.yml
Due: none

feat: update tests with a simple faster example to use by defaut , update gitlab-ci and makefile accordingly
  .gitlab-ci.yml
  Makefile
  pytest.ini
  tests/data/toulouse_test_data/example_config_evaluate.json
  tests/data/toulouse_test_data/example_config_reconstruct.json
  tests/test_mesh3d.py
  tox.ini
Due: isort, black, flake8, pylint

docs: update README with cars new logo
  README.md
  docs/source/conf.py
  docs/source/images/picto_dark.png
  docs/source/images/picto_light.png
  docs/source/images/picto_transparent.png
  docs/source/index.rst
Due: isort, black, flake8, pylint, doc-build

feat: add github sync in gitlab ci
  .gitlab-ci.yml
Due: none

docs: add favicon to make doc build
  docs/source/images/favicon.ico
Due: doc-build

feat: finalize gitlab sync github (decomment with variables updates)
  .gitlab-ci.yml
Due: none

fix: type error assignment in create_dataset for classif -> type alignment
  demcompare/__init__.py
  demcompare/dataset_tools.py
  tests/stats_processing/test_stats_processing.py
  tests/test_demcompare_gironde_data.py
Due: isort, black, flake8, pylint

feat: release 0.1.2 changelog
  CHANGELOG.md
Due: none

fix: add job run with a tag in gitlab-ci
  .gitlab-ci.yml
Due: none

fix: add sync github when tags
  .gitlab-ci.yml
Due: none

fix: bug gitlab-ci in test-all with tags
  .gitlab-ci.yml
Due: none

fix: update gitlab-ci for tag sync github
  .gitlab-ci.yml
Due: none

fix: update reference data with numpy upgrade
  tests/data/end_to_end_data/gironde_test_data/ref_output/stats/alti-diff/Fusion0/stats_results.csv
  tests/data/end_to_end_data/gironde_test_data/ref_output/stats/alti-diff/Slope0/stats_results.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/alti-diff/Slope0/stats_results.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/alti-diff/Slope0/stats_results_exclusion.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/alti-diff/Slope0/stats_results_intersection.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/alti-diff/dem_for_stats_cdf.csv
  tests/data/end_to_end_data/srtm_test_data/ref_output/stats/alti-diff/dem_for_stats_pdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/alti-diff/Slope0/stats_results.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/alti-diff/Slope0/stats_results_intersection.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/alti-diff/dem_for_stats_cdf.csv
  tests/data/end_to_end_data/srtm_test_data_with_roi/ref_output/stats/alti-diff/dem_for_stats_pdf.csv
  tests/test_demcompare_gironde_data.py
  tests/test_demcompare_gironde_test_data.py
  tests/test_demcompare_srtm_data.py
Due: isort, black, flake8, pylint

fix: remove python3.8 and 3.9 from CI with numpy 2.0.0 upgrade
  tox.ini
Due: none

fix: remove pylint 3.2.4 version which breaks continuous integration
  setup.cfg
Due: none

feat: multiprocessing tiling
  demcompare/demcompare_tiles.py
Due: isort, black, flake8, pylint
